.about-container {
    max-width: 100%;
    margin: auto;
    background-size: cover;
    background-repeat: repeat;
    padding: 0.3rem  
}

.about-mission img {
    height: fit-content;
    object-fit:contain;
    max-width: 60%;
  }

.our-mission-container{
    max-width: 100%;
    margin: auto;
    padding: 0.3rem;  
    opacity: 1;
    color: #2f2f2f;
    padding:0 20px;
    text-transform: lowercase;
    font-size: small;
}

.mission-statement {
    font-family: 'Koulen', cursive;
    text-transform: lowercase;
    font-size: small;
    color: #2f2f2f;
    padding:0 20px;
}

.catch-phrase1 {
    font-size:80%;
}

.catch-phrase2 {
    font-size:110%;
}

.our-partners-container{
    max-width: 100%;
    margin: auto;
    padding: 0.3rem  
}
.companies-icons{
    padding:0;
    margin: 0;
    padding-bottom: 1rem;
}

.companies-icons img {
    height: fit-content;
    object-fit:contain;
    max-width: 20%;
  }