.HomePage-Container {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Open sans';
    font-weight: 300;
    float: center;
    /* margin: 0rem; */
    max-width: 100%;
      margin: auto;
    
  }
  .HomePage-Container h1 {
   position: relative;
    display: inline;
    float: center;
    margin: 0 0 0 25px;
    color:black;
    font-size: 1.4rem;
    font-family: 'Koulen', cursive;
    list-style: none;
    
  }

  .HomePage-Container p{
    color: black;
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
    padding: 3px 0 3px 3px;
    transition: all 0.15s linear 0s;
    font-weight: 400;
    text-transform: lowercase;
  }


  .slogan {
    font-size:1.1rem;
  }