
  .MyMeals-Container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: center;
    padding-top: 1rem;
  }

  .meal-summary box {
    display: inline-flex;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
  }
  .meal-info2 {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .edit-button {
    color:#2f2f2f;
  }

  .delete-button {
    color: #2f2f2f;
  }

  