/* Sign up */

.signup-form form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.signup-form form label {
    display: block;
    margin: 0.7rem;
}

.signup-form form input {
    display: block;
    margin: 0 auto;
}

.signup-heading {
    text-align: center;
  }

/* Float cancel and signup buttons and add an equal width */
.signup-form button {
    float: center;
    width: 50%;
  } 
